@model Liftoff.Models.Account


<nav>

    <!--<a asp-area="" asp-controller="Business" asp-action="BizSearch">Biz Search</a>&nbsp; &nbsp;-->
    <a asp-area="" asp-controller="TrackingSheet" asp-action="newTrackingSheet">Create New Tracking Sheet...</a> &nbsp; &nbsp;
    <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a> &nbsp; &nbsp;
</nav>

@{
   
    <h1>Welcome, @Model.username!</h1>

}

<h3>Your area code: @Model.areaCode</h3>



<br />
<br />

<h3>Tracking sheet history: </h3>


<br />
<br />

@*@if (Model.trackingSheets.Count() == 0)
    {
        <p>No viewed tracking sheets yet!</p>
    }*@

<!--<table class="table">



    @*@foreach (var ts in Model.trackingSheets)
    {
        <tr>
            Tracking Sheet under construction
        </tr>
    }*@
</table>-->
