@model Liftoff.ViewModels.ForgotPasswordViewModel

@{
}

<h1>Reset Password</h1>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <!--I copied some code here from another view, just to make things faster since it might be similar anyway.-->
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input class="form-control" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input class="form-control" asp-for="ConfirmNewPassword" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <!--<div class="form-group">
        <label asp-for="areaCode"></label>
        <input class="form-control" asp-for="areaCode" />
        <span asp-validation-for="areaCode"></span>
    </div>

    <div class="form-group">
        <label asp-for="sourceCode"></label>
        <input class="form-control" asp-for="sourceCode" />
        <span asp-validation-for="sourceCode"></span>
    </div>-->

    <input type="submit" value="Submit" />

</form>