@*@model IEnumerable<Liftoff.Models.Business>*@
@*@model Liftoff.ViewModels.AddTSViewModel*@
@model Liftoff.Models.TrackingSheet


@{
    <script src="~/js/site.js"></script>

}


<!--this is not good practice with the font here, but just for now as I figure out how to use ajax here...-->
<div style="font-family:Arial">
    <br />
    <p id="date">Date: </p>
    <br />

    <table id="trackingSheet">
        <tr>
            <th>Company name</th>
            <th>Address (building #)</th>
            <th>Street name</th>
            <th>Spoke with</th>
            <th>DM name</th>
            <th>NQ</th>
            <th>Notes (FAB 5 - Who, Who, What, Where, When)</th>
        </tr>


    </table>

</div>


