@model IEnumerable<Liftoff.Models.Business>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/apiScript.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@{
    <h1>Business Search</h1>
}

<h4>Search for businesses to pitch or businesses you've already pitched here...</h4>
<br />

<form asp-controller="Business" asp-action="BizSearch" method="post">

    <div>

        <input type="search" id="theSearch" autocomplete="off" placeholder="Search Here" />

        <!--<input type="submit" name="submit" class="submit" value="Search" /> -->

        <button onclick="accessAPI()">Search</button>

        <br />
        <br />


        <p id="results">

            Search results go here
        </p>

    </div>

</form>

